<%= form_with(model: list, local: true) do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><%= form.label :title %></span>
    </div>
    <%= form.text_field :title, id: :list_title, class: "form-control", :required => true %>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><%= form.label :description %></span>
    </div>
    <%= form.text_area :description, id: :list_description, class: 'form-control' %>
  </div>

  <div class="btn btn-success">
    <%= form.submit %>
  </div>
<% end %>
