<p id="notice"><%= notice %></p>

<h1><%= @list.title %></h1>

<p>
  <%= @list.description %>
</p>

<h2>Elements</h2>

<%= form_tag elements_path, remote: true, method: :post do %>
  <%= text_field_tag :list_id, @list.id, class: "form-control", :type => 'hidden' %>
  <div class="input-group mb-3">
    <%= text_field_tag 'element[title]', '', class: "form-control", :placeholder => "Element title", :required => true %>
    <div class="input-group-append">
      <%= button_tag(type: :submit, class: 'btn btn-outline-secondary') do %>
        Add element
      <% end %>
    </div>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Element</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @elements.each do |element| %>
      <tr>
        <td><%= element.title %></td>
        <td><%= link_to '', edit_element_path(element), class: "fa fa-pencil fa-2x option-icon option-edit" %></td>
        <td><%= link_to '', element, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash-o fa-2x option-icon option-delete" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_list_path(@list), class: "btn btn-primary btn-lg btn-xlarge" %>
<%= link_to 'Back', lists_path, class: "btn btn-primary btn-lg btn-xlarge" %>
