<%= form_with(model: element, local: true) do |form| %>
  <% if element.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(element.errors.count, "error") %> prohibited this element from being saved:</h2>

      <ul>
      <% element.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><%= form.label :title %></span>
    </div>
    <%= form.text_field :title, id: :element_title, class: "form-control" %>
  </div>

  <div class="btn btn-success">
    <%= form.submit %>
  </div>
<% end %>
